<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
    <title>CSS Vertical Tabs</title>
</head>
<body>
    <div class="container">
        <div class="main-title">CSS Vertical Tabs</div>
        <div class="content">
            <input type="radio" checked name="indicator" id="home">
            <input type="radio" name="indicator" id="blog">
            <input type="radio" name="indicator" id="help">
            <input type="radio" name="indicator" id="code">
            <input type="radio" name="indicator" id="about">
            <div class="list">
                <label for="home" class="home">
                    <i class="fas fa-home"></i>
                    <span class="topic">Home</span>
                </label>
                <label for="blog" class="blog">
                    <i class="far fa-blog"></i>
                    <span class="topic">Blog</span>
                </label>
                <label for="help" class="help">
                    <i class="far fa-envelope"></i>
                    <span class="topic">Help</span>
                </label>
                <label for="code" class="code">
                    <i class="far fa-code"></i>
                    <span class="topic">Code</span>
                </label>
                <label for="about" class="about">
                    <i class="far fa-user"></i>
                    <span class="topic">About</span>
                </label>

                <div class="indicator">

                </div>
            </div>
            <div class="text-content">
                <div class="title"> Home content </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur adipisci eligendi officiis nesciunt earum veritatis perspiciatis velit obcaecati rerum possimus vel blanditiis voluptatem quae dolor laboriosam, quas quo sit eaque odio officia ea impedit minima totam? Perspiciatis quisquam facilis nesciunt aliquid odio earum unde explicabo officiis magni, porro animi atque cumque quidem tenetur perferendis! Unde aperiam dignissimos cupiditate voluptatem eum! Animi veritatis cupiditate corporis tenetur unde eligendi harum ex cumque impedit voluptatem at temporibus repellat, quo magnam doloribus, sunt voluptas numquam ipsum aliquid, asperiores odit quia perferendis deleniti? Minus, illo!</p>
            </div>
        </div>
    </div>
</body>
</html> 