<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
    <title>CSS Vertical Tabs</title>
</head>
<body>
    <div class="container">
        <div class="main-title">CSS Vertical Tabs</div>
        <div class="content">
            <div class="list">
                <label class="home">
                    <i class="fas fa-home"></i>
                    <span class="topic">Home</span>
                </label>
                <label class="blog">
                    <i class="far fa-blog"></i>
                    <span class="topic">Blog</span>
                </label>
                <label class="help">
                    <i class="far fa-envelope"></i>
                    <span class="topic">Help</span>
                </label>
                <label class="code">
                    <i class="far fa-code"></i>
                    <span class="topic">Code</span>
                </label>
                <label class="about">
                    <i class="far fa-user"></i>
                    <span class="topic">About</span>
                </label>
            </div>
        </div>
    </div>
</body>
</html>