<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Sticky Nav</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="WRAPPER">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa2x"></i>
                </div>
                <div class="logo">
                    LOGO
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nemo non explicabo consequatur illo sequi totam iure, veritatis incidunt placeat unde! Minima est eos possimus odit, dicta necessitatibus optio omnis cupiditate hic. Ullam perspiciatis dolorum dolores iste hic dignissimos obcaecati itaque molestias. Dignissimos rem ut aliquam corrupti facere, alias cumque. Hic minus laudantium blanditiis accusantium. Ratione voluptatum mollitia animi exercitationem pariatur nesciunt at! Placeat suscipit asperiores reiciendis explicabo sed officiis cumque consequatur quibusdam quas, labore est aliquid illo sint recusandae libero dignissimos nostrum fugit totam earum accusamus laborum necessitatibus. Ab porro, pariatur sapiente nesciunt laborum beatae illum consequuntur blanditiis eligendi.</p>
        </div>

    </div>
</body>
</html>