* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background: linear-gradient(to left, #23f3c9 0, #128b73 100%); }

body {
  display: flex;
  flex-direction: column; }

header, footer, main {
  padding: 2em; }

header, footer {
  background: #16a085;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  background: #fff;
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

header h1, footer h2 {
  color: #fff; }
